:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --white-color: rgba(255, 255, 255, 1);
  --black-color: rgba(0, 0, 0, 1);
}

.list {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
.page {
  background: #f5f5f5;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  /* font-weight:400,500,700,900 */
}
.header {
  background: #ffffff;
}
.main-nav {
  display: flex;
}

.logo-label {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.logo-white {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.nav,
.site-nav,
.contacts-nav {
  display: flex;
  align-items: center;
}
.site-nav .item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.contacts-nav {
  margin-left: 330px;
  align-items: center;
}
.contacts-nav .item {
  margin-right: 30px;
}
.contacts-nav .item:last-child {
  margin-right: 0;
}
.mail {
  width: 16px;
  height: 12px;
  cursor: pointer;
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
}

.phone {
  width: 10px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: text-top;
}

/* icon-mail:hover,
.icon-phone:hover {
  color: var(--accent-color);
} */

/* .contacts-nav .item::before {
  display: block;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.contacts-nav .item:nth-child(1)::before {
  background-image: url(../images/mail.svg);
}
.contacts-nav .item:nth-child(2)::before {
  background-image: url(../images/phone.svg);
} */

.contacts-nav .link {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus,
.contacts-nav .link:hover > .mail,
.contacts-nav .link:focus > .mail,
.contacts-nav .link:hover > .phone,
.contacts-nav .link:focus > .phone {
  fill: #2196f3;
  background: #ffffff;
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  position: relative;
}
.site-nav .link.current:after,
.site-nav .link:focus::after {
  position: absolute;
  top: 77px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.center {
  text-align: center;
}
.hero {
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  margin: 0;
}
.button:hover {
  background: #188ce8;
  cursor: pointer;
}
.section-features {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-titleof {
  color: var(--title-text-color);
  display: none;
  margin: 0;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
.features-list {
  display: flex;
}
.features-list .title {
  color: var(--primary-text-color);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
}
.features-list .item {
  margin-right: 30px;
}
.features-list .item:last-child {
  margin-right: 0;
}
.features-list .item::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-list .item:nth-child(1)::before {
  background-image: url(../images/svg1.svg);
}
.features-list .item:nth-child(2)::before {
  background-image: url(../images/svg2.svg);
}
.features-list .item:nth-child(3)::before {
  background-image: url(../images/svg3.svg);
}
.features-list .item:nth-child(4)::before {
  background-image: url(../images/svg4.svg);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
.section-work {
  background-color: #ffffff;
  padding-bottom: 94px;
}
.section-work .list {
  display: flex;
}
.section-work .list .item {
  margin-right: 30px;
}
.section-work .list .item:last-child {
  margin-right: 0;
}

.section-work .item {
  position: relative;
}
.section-work .item:before {
  display: inline-block;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-work .item:nth-child(1)::before {
  content: "Десктопні додатки";
}
.section-work .item:nth-child(2)::before {
  content: "Мобільні додатки";
}
.section-work .item:nth-child(3)::before {
  content: "Дизайнерські рішення";
}
.section-our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.section-team {
  display: flex;
}
.section-team .item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.section-team .item:last-child {
  margin-right: 0;
}
.section-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
}
.section-team .img {
  padding-bottom: 30px;
}

.text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
.url-team {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  fill: #afb1b8;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram,
.twitter,
.facebook,
.linkedin {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.url-team:last-child {
  margin-right: 0;
}

.url-team:hover {
  fill: #ffffff;
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ________________________________ SECTION OF CUSTOMERS________________________________ */

.section-customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-color);
}

.section-customers__title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-customers__list {
  display: flex;
  list-style: none;
  justify-content: center;
}
/* .section-customers__item {
} */
.section-customers__url {
  display: inline-block;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  justify-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.section-customers__url:hover,
.section-customers__url:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-customers__url:hover .section-customers__icon,
.section-customers__url:focus .section-customers__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ________________________________ END SECTION OF CUSTOMERS________________________________ */

/* _______________________________________ FOOTER _________________________________________ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.footer-address {
  display: block;
  margin-right: 70px;
  text-align: left;
}

.footer-logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.footer-logo .logo__label {
  color: var(--white-color);
}

.footer-contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

.footer-contacts__map {
  text-decoration: none;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts__link {
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}

.footer-contacts__map:focus,
.footer-contacts__map:hover,
.footer-contacts__link:focus,
.footer-contacts__link:hover {
  color: var(--accent-color);
}

.footer-links {
  text-align: left;
  margin-right: 70px;
}
.footer-links__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-links__url {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links__url:last-child {
  margin-right: 0;
}

.footer-links__url:hover,
.footer-links__url:focus {
  background-color: #2196f3;
}
.instagram-one,
.twitter-one,
.facebook-one,
.linkedin-one {
  margin: 12px;
  width: 20px;
  height: 20px;
}

/* Підписатись */

/* .footer-subscribe {
}
.footer-subscribe__form {
} */
.footer-subscribe__text {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-subscribe__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background: #2f303a;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.footer-subscribe__button {
  display: flex;
  height: 50px;
  min-width: 200px;
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: inherit;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.footer-subscribe__button:hover,
.footer-subscribe__button:focus {
  background: #188ce8;
}
.footer-subscribe__icon {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-left: 10px;
  fill: #ffffff;
}

/* _____________________________________ END OF FOOTER ___________________________________ */

/* Портфоліо */
.section-portfolio {
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
  border: 0;
}

.btn .item {
  margin-right: 8px;
}
.btn .item:last-child {
  margin-right: 0;
}

.btn .link {
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn .link-first {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 25px;
}
.btn .link.current {
  color: var(--accent-color);
}
.btn .link:hover,
.btn .link:focus {
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.portfolio-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  cursor: pointer;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 7px;
}
.portfolio-list__url {
  text-decoration: none;
  color: inherit;
}
.portfolio-img_wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay__text {
  margin: 0;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.portfolio-list__url:hover .portfolio-overlay,
.portfolio-list__url:focus .portfolio-overlay {
  transform: translateY(0);
}
/* .portfolio-list .item:before {
  position: absolute;
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .item:hover,
.portfolio-list .item:hover::before {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  text-align: left;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}

/* ______________________________________ MODAL WINDOW ________________________________ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-form {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-close-black {
  width: 20px;
  height: 20px;
  fill: #000000;
  vertical-align: sub;
}

.icon-close-black:hover,
.icon-close-black:focus {
  fill: #2196f3;
  cursor: pointer;
}

.form-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field label {
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-field input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

/* .form-field input:hover, */
.form-field input:focus-visible {
  outline: 1px solid #2196f3;
  border-radius: 4px;
}
.form-field input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* here will be svg img */
.icon-person {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 41px;
  left: 15px;
  fill: #212121;
}

.icon-phone {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 43px;
  left: 15px;
}

.icon-email {
  width: 15px;
  height: 12px;
  position: absolute;
  top: 43px;
  left: 15px;
}

/* .form-field:hover > .icon-person, */
.form-field:focus-within > .icon-person {
  border: #2196f3;
  fill: #2196f3;
}

/* .form-field:hover > .icon-phone, */
.form-field:focus-within > .icon-phone {
  border: #2196f3;
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-field:hover > .icon-email, */
.form-field:focus-within > .icon-email {
  border: #2196f3;
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  margin: 0;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:focus {
  outline: 1px solid #2196f3;
  fill: #2196f3;
}

.form-policy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
.form-policy label {
  cursor: pointer;
}
.url-policy {
  color: #2196f3;
}

.checkbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  position: absolute;
  left: 15px;
  top: 0;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #212121;
  border-radius: 2px;
  vertical-align: sub;
}

/* input[type="checkbox"]:checked + .icon-check */
.checkbox:checked + .icon-check {
  position: absolute;
  left: 15px;
  top: 0;
  border-color: #2196f3;
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 2px;
  background-image: url(../images//icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  align-items: center;
}

.button-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: inherit;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background: #188ce8;
}
